# All required at runtime. PUBLIC_* exposed to frontend.

PUBLIC_SOROBAN_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
PUBLIC_SOROBAN_RPC_URL="https://soroban-testnet.stellar.org:443"
PUBLIC_HORIZON_URL=https://horizon-testnet.stellar.org

PUBLIC_TANSU_CONTRACT_ID="CDLQFXGGQHD3DJXMOO4T6O2IISWOEAL27GQZZS6MAQQBEAU2GYFTHP3O"
PUBLIC_SOROBAN_DOMAIN_CONTRACT_ID="CAUORQ7XOSJOV6NLUK2A7FZSZP5Z55AQPEPMWDEZPQ4DDKSTXBBEDKNF"
PUBLIC_TANSU_OWNER_ID="GAUF7DU72VMB4IHGJLO3AHJWRKTFAJXWMB6LBXSJT5TLS2ARJFE6VCBZ"

# IPFS upload proxy (Cloudflare Worker)
PUBLIC_DELEGATION_API_URL="https://ipfs-testnet.tansu.dev"
